<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Croma{% endblock %}</title>

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

  <header class="topbar">
    {% if request.user.is_authenticated %}
      <a class="brand" href="{% url 'contas:dashboard' %}">Croma</a>
    {% else %}
      <a class="brand" href="{% url 'contas:login' %}">Croma</a>
    {% endif %}
  </header>

  <main class="container">
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="msg {{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% block content %}{% endblock %}
  </main>

  <footer class="container" style="margin-top:24px;">
    <small class="muted">© {{ now|date:"Y" }} Croma</small>
  </footer>

</body>
</html>
